
/*Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Fontepara o Css*/
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
    }
      /*Fim da fonte*/
}
body{
    background-color: #000;
    height: 200vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
  display: flex;
}
h2.titulo{
  color: white;
  font-size: 35px;
  text-align: center;
}
h2.titulo span{
  color: red;
}
button:hover,form .btn-enviar input:hover{
  box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.772);
  transform: scale(1.05);
}
/* Estilo do Cabeçalho */
header{
    padding: 40px 4%;
}
header  .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color:#939292;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color:#fff;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav li{
    display: inline-block;
    padding: 0 40px;
}
/*Estilo topo do site*/
section.topo-do-site{
  padding:40px 4%;
}
.topo-do-site h1{
  color:#fff;
  font-size: 42px;
  line-height: 40px; /*Espaçamento entre as linhas*/
}
.topo-do-site .txt-topo-site h1 span{
  color: red;

}
.topo-do-site .txt-topo-site p{
  color: #fff;
  font-size: 25px;
  margin: 40px 0;
}
.btn-contato button{
  padding:10px 40px;
  font-size:18px;
  font-weight: 600;
  background-color: red;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}
/*Estilo das especialidades*/
section.especialidades{
  padding: 40px 4%;
}
section.especialidades .flex{
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.especialidades .especialidades-box{
  color: white;
  font-size: 15px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px ;
  transition: .2s;
}
.especialidades .especialidades-box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.741);
  
}
.especialidades .especialidades-box i{
  font-size: 70px;
  color: red;
}
.especialidades .especialidades-box h3{
  font-size: 28px;
  margin: 15px 0;

}
.especialidades .especialidades-box {
  font-size: 20px;
  margin: 15px 0;

}
/*ESTILO DO SOBRE*/
section.sobre{
  padding: 80px 4%;
}
section.sobre .flex{
  align-items: center;
  gap: 120px;
}
.sobre .txt-sobre{
  color: #fff;
}
.sobre .txt-sobre h2{
  font-size: 40px;
  line-height: 40px; 
  margin-bottom: 20px;
}
.sobre .txt-sobre h2 span{
  color: red;
  display: block; /*muda a linha do comentario.  */
}
.sobre .txt-sobre  p{
  margin: 20px 0;
  font-size: 20px;
  text-align: justify;
}
.btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: red;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
}
/*ESTILO RODAPE*/
footer{
  padding: 60px 4%;
  box-shadow:  0 0 40px 10px #ffffff1d;
}
footer .flex{
  justify-content: space-between;
}
footer .line-footer{
  padding: 20px 0;
}
.borda{
  border-top: 2px solid#d10000;
}
footer .line-footer p i{
  color: #d10000;
  font-size: 22px;
}
footer .line-footer p a{
  color: #fff;
}
@media screen and (max-width:1020px){
  /* CLASES GERAIS */
  .flex{
    flex-direction: column;
  }
  h2.titulo{
    font-size: 30px;
    line-height: 34px;
  }
  /* cabeçalho */
  .btn-contato{
    display: none;
  }
  /* topo do site */
  section.topo-do-site{
    padding: 20px 8%;
  }
  section.topo-do-site.flex{
    gap: 40px;
  }
  .topo-do-site h1{
    font-size: 30px;
  }
  .topo-do-site .img-topo-site img{
    width: 100%;
  }
  /*Especialidades */
  section.especialidades{
    padding: 40px 8%;
  }
  /* sobre */
  section.especialidades{
    padding: 80px 8%;
  }
  .sobre .txt-sobre h2{
    font-size: 34px;
    line-height: 35px;
    text-align: center;
  }
  .btn-social{
    text-align: center;
  }
  .img-sobre img{
    width: 100%;
  }
  form .btn-enviar input{
    width: 200;
  }
}